:root {
    --online: #5EE2A0;
    --my-mssg: #00A0AE;
    --text-light: #4D4F5C;
    --text-dark: #43425D;
    --selected-chat: #F5F6FA;
    --border: #F1F1F3;
    --text-white: white;
    --background-img: url("https://i.pinimg.com/originals/f5/05/24/f50524ee5f161f437400aaf215c9e12f.jpg");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
}


body {
    overflow: hidden;
}

.main {
    width: 100%;
    display: flex;
    height: 100vh;
}

header {
    height: 8vh;
    background-color: var(--my-mssg);
    color: var(--text-white);
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

/*  CSS for left side ...............................⬇ */
.left {
    width: 32%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.left>header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#dropdownMenuButton1 {
    background-color: var(--my-mssg);
    border: none;
    padding: 0;
    margin: 0;
}

#dropdownMenuButton1:focus {
    box-shadow: none;
}

.user-list {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border);
}
.user-list :hover{
    cursor: pointer;
}

.active {
    background-color: var(--selected-chat);
}

.user-list-sub {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.avatar {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-highlight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
    height: 85%;
}

.user-name {
    display: flex;
    justify-content: space-between;
}

.profile-highlight p {
    margin: 0;
}

.title {
    font-size: 13px;
    font-weight: bold;

}

.user-name>.time {
    font-size: 11px;
    margin-right: 15px;

}

.highlights {
    font-size: 11px;

}

/*  CSS for right side ...............................⬇ */
.right {
    width: 68%;
    height: 100%;
    box-sizing: border-box;
}

.right>header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.back-btn {
    display: none;
}

.chat-box {
    min-height: 72vh;
}

.chat {
    /* width: 100%; */
    height: 57vh;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    background-image: var(--background-img);
    background-size: cover;
    z-index: -1;
}

.current-user {
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid var(--border);
    background-color: var(--text-white);
    position: sticky;
    top: 8vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-user-sub {
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
}

.current_avatar {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current_avatar>span {
    height: 70px;
    width: 70px;
    position: relative;
}

span>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.online {
    height: 10px;
    width: 10px;
    background-color: var(--online);
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 55px;
}

.current_status {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.current-title {
    font-size: 18px;
}

.current-highlights {
    font-size: 15px;
    color: var(--text-dark);
}

.user1-container {
    display: flex;
    align-items: center;
}

.user1-mssg {
    margin: 2% 2%;
    max-width: 70%;
    padding: 16px;
    font-size: 13px;
    background-color: var(--selected-chat);
    color: var(--text-dark);
    border-radius: 15px 15px 15px 0px;
}

.user2-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user2-mssg {
    margin: 2% 2%;
    color: var(--text-white);
    max-width: 70%;
    padding: 16px;
    font-size: 13px;
    background-color: var(--my-mssg);
    border-radius: 15px 15px 0px 15px;
}

/* CSS for input box for message............................. */
.mssg-box {
    width: 100%;
    height: 20vh;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--text-white);
    border-top: 1px solid var(--border);
}

.count-char {
    font-size: 13px;
    color: var(--my-mssg);
}

.text-box {
    background-color: var(--selected-chat);
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-box>input {
    border: none;
    width: 85%;
    height: 70%;
    font-size: 13px;
    padding-left: 10px;
    background-color: var(--selected-chat);
}

input:focus {
    outline: none;
}

.send-btn-div {
    height: 70%;
}

.send-btn {
    background-color: var(--my-mssg);
    border-radius: 5px;
    color: var(--text-white);
    border: none;
    padding: 0.3em 0.6em;
    font-size: smaller;
}

/* CSS for scroll bar.......................................................... */
body::-webkit-scrollbar {
    display: none;
}

.left::-webkit-scrollbar {
    width: 4px;
}

.chat::-webkit-scrollbar {
    width: 10px;

}

.left::-webkit-scrollbar-track {
    background-color: var(--border);
}

.chat::-webkit-scrollbar-track {
    background-color: var(--border);

}

.left ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--my-mssg);
    border: 1px solid var(--my-mssg);
    background-clip: border-box;

}

.chat ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--my-mssg);
    border: 10px solid var(--my-mssg);
    background-clip: border-box;

}

.left::-webkit-scrollbar-thumb:hover {
    background-color: var(--my-mssg);
}

.chat::-webkit-scrollbar-thumb:hover {
    background-color: var(--my-mssg);

}

@media screen and (max-width: 750px) {
    .left {
        width: 100%;
    }

    .right {
        display: none;
    }

    .back-btn {
        display: block;
    }

    .left::-webkit-scrollbar {
        display: none;
    }

    .chat::-webkit-scrollbar {
        display: none;
    }
}